@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Madimi+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root {
    --color-001: #35ace8;
    --color-002: #35b5aa;

    --color-003: #e3f1ef;
    --color-004: #b8ece0;
    --color-005: #1f3827;
    --color-006: #000000;

    --font01:  'Anton';
    --font02:  'Bebas Neue';
    --font03:  'Ubuntu';
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: #1f3827;
    width: 100vw;
    padding: 40px;
    margin: auto;
    background-image: url(../images/seguranca.jpg);
    background-position: center center;
    
}

.title h1 {
    font-family: var(--font02);
    font-size: 3em;
    color: var(--color-003);
    text-shadow: 0px 0px 10px var(--color-005);

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font01);
    background-color: var(--color-002);
    font-size: 16px;
    
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

#password_img {
    width: 150px;
    padding-top: 50px;
}

a {
    position: relative;
    color: var(--color-006);
    font-size: inherit;
}

a:after {
    position: absolute;
    width: 20em;
    background-color: var(--color-003);
    content: attr(data-tip);
    padding: 1em;
    color: var(--color-006);
    margin: auto;
    left: -1.5em;
    right: 0;
    bottom: 8em;
    text-align: center;
    border-radius: 0.2em;
    font-family: var(--font03);

}

a:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: +3.5em;
    right: +4.4em;
    border-top: 0.5em solid var(--color-003);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    margin: auto;
}


a:after,
a:before {
    display: none;
}

a:hover:after,
a:hover:before {
    display: block;
}


#title {
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: var(--font01);

}

#password_container {
    width: 400px;
    max-width: 600px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-004);
    color: black;
    border-radius: 5px;
    padding: 8px 18px;

}

#password_container.show {
    display: flex;
}

#password {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#copy {
    background-color: transparent;
    border: none;
    color: var(--color-001);
    height: 25px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: color .4s;
}

#copy:hover {
    color: var(--color-002);

}

#password_itens {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    width: 400px;
    color: var(--color-003);
    text-shadow: 0px 0px 3px var(--color-005);
    padding: 18px;
    background-image: url(../images/deppmind.jpg);
    background-position: right center;

}

.item {
    display: flex;
    gap: 14px;
    

}

#size {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 24px;

}

#size:focus {
    outline: 2px solid var(--color-003);
}

#generate {
    background-color: var(--color-003);
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .4s;
}

#generate:hover {
    background-color: var(--color-003);

}


































